.App {
  text-align: center;
}
.navbar {
  width: 100%;
  height: 10vh;
  background-color: #8d143c;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar-content {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item {
  color: white;
  font-size: 20px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 25px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.5s;
  text-decoration: none;
}

.page-content {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-weight: 600;
}
.btn {
  background-color: grey;
  color: white;
  padding: 20px;
  border-radius: 6px;
  cursor: pointer;
}
